<h3>Daily report</h3>
<form [formGroup]="heroForm" >

<div class="card">
  <div class="row">
    <div class="col-sm-4">
      <label for="">Date</label>
      <p-calendar formControlName="date"></p-calendar>
    </div>
    <div class="col-sm-4">
        <label for="">Greenhouse</label>
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" formControlName="Greenhouse"></p-dropdown>
      </div>
  </div>


</div>
<div class="card mt-4" formArrayName="itemRows" >
  <h5>Add report</h5>
  <div class="row" *ngFor="let itemrow of heroForm.get('itemRows').controls; let i=index"  [formGroupName]="i">
      <div class="col-sm-4">
        <label for="">Slno</label>
        <input type="text" formControlName="name" >  
      </div>
      <!-- <div class="col-sm-4">
        <label for="">Description</label>
          <input type="text" >  
        </div>
        <div class="col-sm-4">
          <label for="">Manpoer used</label>
            <input type="text">  
          </div>
          <div class="col-sm-4">
             <button class="btn btn-danger">Del</button>
              </div> -->
  </div>
  <div class="row">
      <div class="col-sm-4">
          <button class="btn btn-primary" type="button" (click)="addNewRow()">Add</button>
           </div>
    </div>




</div>


</form>
